ul.listesInfos {
    width : 100%;
}

ul.listesInfos li {
    float: left;
    width : 33%;
}

.inputForm {
    display : block;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
}

.main-wrapper {
 padding-bottom: 150px;

}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

.boutonModifier {
    float : right;
}

#traduction_objet_apidae_objet_objSuggestion {
    float : initial;
    width : initial;
    display : inline-block;
    opacity : initial;
}

.optsFavoris {
    margin : 5px;
}

.choixPanier, .nav > li {
    cursor: pointer;
}

#form_recherche_menu {
    margin-top : 10px;
}