ul.listesInfos {
    width : 100%;
}

ul.listesInfos li {
    float: left;
    width : 33%;
}

.inputForm {
    display : block;
}

.container-wrapper, .content-wrapper, body  {
    height: 100%;
}

.boutonModifier {
    float : right;
}

#traduction_objet_apidae_objet_objSuggestion {
    float : initial;
    width : initial;
    display : inline-block;
    opacity : initial;
}