ul.listesInfos {
    width : 100%;
}

ul.listesInfos li {
    float: left;
    width : 33%;
}

.inputForm {
    display : block;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
}

.main-wrapper {
 padding-bottom: 150px;

}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

.boutonModifier {
    float : right;
}

#traduction_objet_apidae_objet_objSuggestion, #traduction_objet_apidae_obj_show_descr_perso,
#traduction_objet_apidae_obj_show_bons_plans, #traduction_objet_apidae_obj_show_info_sup,
#traduction_objet_apidae_objShowDescr {
    float : initial;
    width : initial;
    display : inline-block;
    opacity : initial;
    margin-left : 10px;
}

.optsFavoris {
    margin : 5px;
}

.choixPanier, .nav > li, .slick-slide {
    cursor: pointer;
}

.slick-active {
    cursor: default;
}


#form_recherche_menu {
    margin-top : 10px;
}

.flecheBas {
    float : right;
}

.fav-fiche {
   background-color: white;
    float : right;
}