{% trans_default_domain 'FOSUserBundle' %}


<div class="content-wrapper">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-2 col-md-offset-5" role="main">
                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                    {{ form_widget(form) }}
                    <div class="text-center margin-5">
                        <input type="submit" value="{{ "Mettre à jour"|trans }}" />
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
