{% extends 'ApidaeBundle:commun:template.html.twig' %}
{% block content %}
    <article>
        <h2> Liste de vos sélections </h2>
        {% if panier is empty %}
            <p> Vous n'avez aucune sélection.</p>
         {% else %}
            <p> To do</p>
        {% endif %}
    </article>
{% endblock %}