<di>
    <h4> Tourisme adapté </h4>
    {% for s in tourismeAdapte %}
        <input class="filtres" type="checkbox" id="{{ s.serId }}" value="{{ s.serId }}" name="services">
        <label for="{{ s.serId }}"> {{ s.serLibelle|langueLib(langue.lanShortCut) }}</label><br/>
    {% endfor %}
</di>
