{% extends "ApidaeBundle:commun:template.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="row center-block">
            <div class="col-md-6 col-md-offset-3" role="main">
                <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                {% if targetUrl %}
                    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
