.testListe {
    border : 1px grey solid;
    margin : auto;
    margin-bottom : 10px;
    width: 70%;
    padding : 0 0 10px 10px;
}

#content {
    margin : auto;
    width: 80%;
}

.LiMenu, .imgListe, .infosListe, .lienDetailsListe, .filtresListe, .optionsAdmin {
    display :inline-block;
    vertical-align: top;
}

.LiMenu {
    margin-right : 20px;
}

.infosListe {
    width : 50%;
}

table.tabUsers td {
    width : 200px;
}

.actionsTab a {
    margin-right: 10px;
}