{% block header %}
    {% block nav %}
    <nav>
        {% for key, cat in categoriesMenu %}
        <li class="LiDisplay"> {{ key }}
            <ul>
                {% for c in cat %}
                    <li><a href="{{ path('liste', {'typeObjet': key, 'categorieId': c.catId}) }}"> {{ c.catLibelle|langueLib(langue.lanShortCut)  }} </a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}

    </nav>
    {% endblock %}
{% endblock %}