{% block contentRestaurant %}

    {% if objet.services is not empty %}
    <article>
        <h4> Services : </h4>
        <ul>
            {% for service in objet.services %}
                <li>{{ service.serLibelle|langueLib('Fr') }}
                    {% if service.serInfosSup is not empty %}
                        <ul>
                            <li> {{ service.serInfosSup|langueLib('Fr') }} </li>
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </article>
    {% endif %}

    {% if objet.equipements is not empty %}
    <article>
        <h4> Equipements : </h4>
        <ul>
            {% for equipement in trad.equipements %}
                <li>{{ equipement.equLibelle|langueLib('Fr') }}
                    {% if equipement.equInfosSup is not empty %}
                        <ul>
                            <li> {{ equipement.equInfosSup|langueLib('Fr') }} </li>
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

    </article>
    {% endif %}


{% endblock %}
