<!DOCTYPE html>
<html lang="en-FR">
    <head>
        {% block head %}
            <!-- completer -->
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
            <title>{% block title %}{% endblock %}</title>

        {% endblock %}
    </head>
    <body>
        <header>
            {% include "ApidaeBundle:commun:header.html.twig" %}
        </header>

        <section id="content">
            {% block content %}
            {% endblock %}
        </section>

        <footer>
            {% include "ApidaeBundle:commun:footer.html.twig" %}
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="{{ asset('bundles/apidae/functions.js') }}"></script>
    </body>
</html>