<!DOCTYPE html>
<html lang="en-FR">
    <head>
        {% block head %}
            <!-- completer -->
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <header>
            {% include "ApidaeBundle:commun:header.html.twig" %}
        </header>

        <article id="content">
            {% block content %}
            {% endblock %}
        </article>

        <footer>
            {% include "ApidaeBundle:commun:footer.html.twig" %}
        </footer>
    </body>
</html>