{% block contentEvenement %}

{% if  objet.portee is not empty %}
<div id="section-8" class="detail-content">
    <div class="section-title text-left">
        <h4>{{ "Portée de l'évènement"|trans }}</h4>
    </div>
    <p> {{ objet.portee|langueLib(langue.lanShortCut) }} </p>
</div>
{% endif %}

{% endblock %}
