{% block contentEvenement %}

    {% if  objet.portee is not empty %}
    <article>
        <h4> Portée de l'évènement : </h4>
        <p> {{ objet.portee|langueLib(langue.lanShortCut) }} </p>
    </article>
    {% endif %}

{% endblock %}
