<!DOCTYPE html>
<head>
    <!-- completer -->
</head>

<html>
    <head>
        <title>Accueil</title>
    </head>
    <body>
        <h2> Index test </h2>
        <section>



        </section>

    </body>
</html>