{% extends "ApidaeBundle:commun:template.html.twig" %}
{%  block content %}
    <h1> {{ typeObjet }} ::  {{ categorie.catLibelle|langueLib(langue.lanShortCut) }}</h1>
    <article class="filtresListe">
        <h2> Filtres </h2>
        <p> To Do </p>
    </article>
    {% include "ApidaeBundle:Default:vueListeContent.html.twig" %}
{% endblock %}
